.popup 
{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #192941;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}
.popup-overlay {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

}
.popup-content 
{
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 40px 30px;
  border-radius: 10px;
  max-width: 1285px;
  align-items: center;
  gap: 110px;
}

.galochka
{
  width: 172px;
  height: 149px;
}

.popup-form
{
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 467px;

}
.close 
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
.popup__title 
{
    font-size: 60px;
    margin-bottom: 20px;

}
.popup__subtitle 
{
    font-size: 24px;
    margin-bottom: 37px;
}

.popup__image
{
    width: 585px;
    height: 550px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


#popup-two .popup__title
{
  font-size: 35px;
  margin-top: 30px;
}

#popup-two .popup__subtitle
{
  font-size: 16px;
  margin-bottom: 79px;
}

.popup__link
{
  font-size: 24px;
  color: #C9961A;
  text-decoration: underline;
  line-height: 107%;
}

#popup-two
{
  text-align: center;
  align-items: center;
  width: 408px;

}

input {
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}